<p><strong>MURALIS - API orcamento domestico</strong></p>

<p>Depesas do mes vigente = /api/despesas</p>

<hr />
<p>Despesas totais = /api/despesasTotais</p>

<hr />
<p>Adicionar:</p>

<p style="margin-left:40px">Nova despesa = /api/despesas/add/despesa</p>

<p style="margin-left:40px">Nova categoria = /api/despesas/add/categoria</p>

<p style="margin-left:40px">Novo tipo de pagamento = /api/despesas/add/pagamento</p>

<hr />
<p>Mostrar:</p>

<p style="margin-left:40px">Despesas por categoria = /api/despesas/&lt;nomeDaCategoria&gt;</p>

<p style="margin-left:40px">Todas as categoria cadastradas = /api/categoria</p>

<p style="margin-left:40px">Todos os tipos de pagamentos cadastrados = /api/pagamento</p>
